/*  style={{width:"10%",height:"20%",marginTop:"6%"}} */
.profilePic {
  margin-top: 10%;
  width: 10%;
  height: 20%;
  margin-top: 6%;
}
@media screen and (max-width: 400px) {
  .profilePic {
    width: 25%;
    height: 15%;
    margin-top: 15%;
  }
}
.center {
  text-align: center;
}
.header {
  font-size: 200%;
  font-weight: bold;
  color: white;
  margin-top: 2%;
}
.words {
  font-size: 200%;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 2%;
}
.vl {
  border-left: 100px solid white;
  height: 1000px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerBox {
  padding: 20px;
  border-radius: 20px 0px 0px 20px;
  background-color: blue;
  width: 22%;
  font-size: x-large;
}
@media screen and (max-width: 400px) {
  .innerBox {
    font-size: medium;
    width: 37%;
  }
}
.outerBox {
   display: flex;
   border-radius: 20px;
   margin-top: 10px;
   margin-left: 20%;
   color: white;
   background-color: white;
   font-size: larger;
   width: 60%;
   height: 100px;
}
@media screen and (max-width: 400px) {
  .outerBox {
    height: 90px;
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .header {
    font-size: 125%;
  }
}
@media screen and (max-width: 400px) {
  .words {
    font-size: 125%;
  }
}
/*style={{textAlign:"center",marginTop:"5%"}}*/
.projectHeader {
   text-align: center;
   margin-top: 5%;
}
@media screen and (max-width: 400px) {
  .projectHeader {
    font-size: 100%;
  }
}
/* style={{width:"30%",margin:"3%"}} */
.card {
   width: 30%;
   margin: 3%;
}
/* style={{height:"30vh"}} */
.projectImage {
    height: 20vh;
}

.chips {
   display: flex;
   margin-top: 6%;
   margin-left: 25%;
}
@media screen and (max-width: 400px) {
  .chips {
    margin-left: 2%;
  }
}
.projButton {
  margin-left: 35%;
}
@media screen and (max-width: 400px) {
  .projButton {
    margin-left: 10%;
  }
}
.skillsLogo {
  width: 10%;
  margin: 1%;
}
@media screen and (max-width: 400px) {
  .skillsLogo {
    margin: 2%;
  }
}